body {
  background-image: url('notes.png')
}

#root {
  width: 750px;
  margin: auto;
  background-color: #ffffff;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 300px;

  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto !important;;

  /* Set up positioning */
  top: 100px;
  left: 0;
  z-index: -1;
  background-size: cover !important
}

img#logo {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

.title {
  font-family: 'Georgia', sans-serif;
  font-size: 1.4em;
  font-weight: 4;
  line-height: 1em;
  letter-spacing: 0.01em;
  color: #057100;
  text-align: center;
  }

.random-poem{
  text-align: center;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 35px;
}

.search-form {
    position: center;
    text-align: center;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 8pt !important;
    padding-bottom: 25px;
    display: block;
    margin: auto;
  }

  .slogan {
    font-family: Roboto, sans-serif;
    font-size: 0.4 em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.64em;
    color: #1d6152;
    text-align: center;

    }
